@model Ator

@{
    ViewData["Title"] = "Adicione um novo ator";
}

<div class="row text">
    <div class="col-md-8 offset-2"> 
        <p>
            <h1>Adicione um Novo Ator</h1>
        </p>
            <div class="row text">
                <div class="col-md-8 offset-2"> 
                    <form asp-action="Criar">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group text-center"></div>
                        <img id="FotoDePerfilPreview" class="rounded-circle align-content-center" style="max-width: 150px" />
                        <div class="form-group">
                            <label asp-for="FotoDePerfilURL" class="control-label"></label>
                            <input asp-for="FotoDePerfilURL" class="form-control"/>
                            <span asp-validation-for="FotoDePerfilURL" class=text-danger></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NomeCompleto" class="control-label"></label>
                            <input asp-for="NomeCompleto" class="form-control"/>
                            <span asp-validation-for="NomeCompleto" class=text-danger></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control"/>
                            <span asp-validation-for="Bio" class=text-danger></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Criar" class="btn btn-outline-success float-right"/>
                        <a class="btn btn-outline-secondary" asp-action="Index">Ver Todos</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('FotoDePerfilPreview');
            output.src = $(this).val('FotoDePerfilPreview');
        })
        $("#FotoDePerfilURL").on("change", function(){
            var output = document.getElementById('FotoDePerfilPreview');
            output.src = $(this).val()
        })
    </script>
}